@model IEnumerable<Product>

<div class="container-fluid">
    @await Component.InvokeAsync("Label", new { label = "Список продуктов" })
    <div class="row">
        <div class="col-12">
            <table class="table table-dark">
                <tr>
                    <th>Наименование</th>
                    <th>Категория</th>
                    <th>Код</th>
                    <th>Цена</th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr class="text-center">
                        <td colspan="4" class="text-uppercase no-items">Товаров не найдено</td>
                    </tr>
                }
                else
                {
                    @foreach (var pr in Model)
                    {
                        <tr>
                            <td>@pr.Name</td>
                            <td>@pr.Category</td>
                            <td>@pr.Code</td>
                            <td>@pr.Price</td>
                            <td class="text-right">
                                <form method="post">
                                    <a class="btn btn-danger m-1" asp-action="Edit" asp-route-id="@pr.ID">Изменить</a>
                                    <button class="btn btn-danger m-1" type="submit" asp-action="Delete" asp-route-id="@pr.ID">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </table>

            <div class="row">
                <div class="col-12 col-md justify-content-center justify-content-md-start d-flex m-1">
                    <a asp-action="Create" class="btn btn-dark">Добавить новый товар</a>
                </div>
                <div class="col-12 col-md justify-content-center justify-content-md-end d-flex m-1">
                    <a asp-action="Index" asp-controller="PersonalAccount" class="btn btn-primary">Вернуться в личный кабинет</a>
                </div>
            </div>
        </div>
    </div>
</div>